body
  background-image: url('/assets/bg.png')
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif


h1
  color: #506882
  font-family: Orbitron, sans-serif
  font-size: 2em
  font-weight: 700
  margin-top: 5%
  text-align: center
  text-shadow: 1px 1px #666


.fork-me
  position: absolute
  right: 0
  top: 0


.wrapper
  margin: auto
  position: relative
  width: 70%


.pins
  display: block
  margin: auto
  max-width: 100%


.action
  color: #506882
  font-family: Orbitron, sans-serif
  font-weight: 700
  text-decoration: none
  text-shadow: 1px 1px #666


.action:hover
  color: #6a7f94


nav

  li
    display: block
    margin-bottom: 10px
    text-align: center

  a
    font-size: 2em


.games-list
  border-collapse: separate
  border-spacing: 0 2px
  font-size: 0.9em
  margin: 5% auto
  width: 100%

  thead
    background-color: #506882
    color: #F6F6F6
    font-family: Orbitron, sans-serif
    font-weight: 400
    text-shadow: 1px 1px #333

  td
    padding: 15px

  td:first-child
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px

  td:last-child
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px

  .ongoing-state
    color: #90AB76
    font-family: Orbitron, sans-serif
    font-weight: 400
    text-shadow: 1px 1px #666

  .finished-state
    color: #C10000
    font-family: Orbitron, sans-serif
    font-weight: 400
    text-shadow: 1px 1px #666

  a
    color: #2E2E2E

  a:hover
    text-decoration: none


.back
  display: inline-block
  font-size: 1.5em
  margin-bottom: 5%
  text-decoration: none


.score-sheet
  background-color: #506882
  border-radius: 5px
  color: #F6F6F6
  margin: 5% auto 0
  padding: 20px

  td, th
    height: 35px
    text-align: center
    vertical-align: middle
    width: 35px

  th, .second-roll, .third-roll, .total-score
    border: 1px solid #F6F6F6

  .first-roll
    border-left: 1px solid #F6F6F6

  .frame-score
    border-bottom: 1px solid #F6F6F6
    border-left: 1px solid #F6F6F6
    border-right: 1px solid #F6F6F6

  .total-score
    width: 100px


form
  margin: 2% auto 5%

  input[type="number"]
    border: 1px solid #506882
    border-radius: 5px
    font-size: 0.9em
    margin-left: 10px
    padding: 8px 5px

  input[type="submit"]
    background-color: #506882
    border: none
    border-radius: 5px
    color: #F6F6F6
    font-size: 0.9em
    padding: 10px

  input[type="submit"]:hover
    background-color: #6a7f94
