<%= image_tag "pins.png", :class => "pins" %>

<nav>
  <ul>
    <li><%= link_to 'New Game', games_path, :class => 'action', :method => :post %></li>
    <li><%= link_to 'Continue', games_path, :class => 'action' %></li>
  </ul>
</nav>
